apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../base

patches:
  - path: use-premium-sataorage.yaml
    target:
      version: v1
      group: apps
      kind: StatefulSet
      name: mongodb-ss
